$background: #F4F4F4;

//html,
//body {
//  height: 100%;
//}


body {
  //display: flex;
  //align-items: center;
  //padding-top: 40px;
  padding-bottom: 70px;
  background-color: $background;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

select:invalid { color: gray; }

.progress {
  width: 100%;
  border-radius: 0;
}

.modal {
  background-color: rgba(33, 37, 41, .5);
}

.clues img {
  max-width: 100%;
}

.color-box {
  float:left;
  width: 15pt;
  height: 15pt;
  margin: 0pt 5pt;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
